body {
  background-image: url(https://images.unsplash.com/5/unsplash-bonus.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 200px;
  filter: drop-shadow(5px 5px 15px #000000);
  margin-bottom: 2px;
  text-align: center;
}

h2 {
  font-size: 65px;
  filter: drop-shadow(5px 5px 15px #000000);
  margin-top: 2px;
  text-align: center;

}

h3{
  font-size: 25px;
}
.menu {
  background-color: #E8EAEB;
  padding: 1em;
  border: solid thin black;
  position: sticky;
  top: 10px;
}

menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 1em;
  position: sticky;
  top: 20px;
}

/*img {
  display: inline-block;
  width: 15%;
  height: 15%;
  margin: 1%;
  filter: drop-shadow(5px 5px 15px #000000);
  outline: thin white;
}*/

#containerpictures {
  display: flex;
  justify-content: space-evenly;
}
#containerpictures img{
  width: 25%%;
  filter: drop-shadow((5px 5px 15px #000000)
}

#latte {
  width: 25%;
}
#baking {
  width: 25%;
}

#coffeebeans {
  width: 25%;
}

#item-menu {
  margin-top: 10px;
}
#menubox {
  background-color: #DBDBDC;
  border: solid thin black;
  filter: drop-shadow(5px 5px 15px #000000);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  color: #000000;
  padding-top: 2px;
}
#menuitems  {
  padding-left: 10px;
}
#coffeeitems {
  padding-left: 10px;
  font-weight: bolder;
}
#fooditems {
  padding-left: 10px;
  font-weight: bolder;
  }
  #coffee-beans {
  padding-left: 10px;
  font-weight: bolder;
}
#coffee-menu {
  padding-left: 10px;
}
#food-menu {
  padding-left: 10px;
}
#beans-menu{
  padding-left: 10px;
}
#MenuButton {
  transition: hover;
}
#EVENTS {
  margin: auto;
  width: 50%;
}
#map {
  margin: auto;
  width: 50%;
}
#orderbottom {
  position: relative;
  bottom: 1px;
  top: 100%;
  left: 89%;
}
